.body {
  text-align: center;
}


.title {
  margin-top: 0;
  margin-bottom:15px;
  font-size: 4rem;
  text-align: center;
  font-family: sans-serif;
}
.form{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.form input{
  border:2px solid orange;
}
.form label{
  font-size: 25px;
}

.body{
  background-color: orange;
}

.form button{
  display: block;
  margin-top: 10px;
  font-size: 20px;
}