.body {
  text-align: center;
}


.title {
  margin-top: 0;
  margin-bottom:15px;
  font-size: 4rem;
  text-align: center;
  font-family: sans-serif;
}

.userInput{
  text-align: center;
}

.userInput label{
  font-size: 24px;
}

.userInput label input{
  border:2px solid black;
  text-align: center;
}